<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.nor35.photos.feature.photo.detail">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/feature_photo_detail">
        <dist:fusing dist:include="false"/>
    </dist:module>

    <application>
        <receiver
            android:name=".domain.notifications.MeowBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.nor35.action.SEND_DATA" />
            </intent-filter>
        </receiver>
    </application>

</manifest>